*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.header{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 20px 0;
}
.shield{
    display: grid;
    /* grid-template-columns: repeat(16, 1fr); */
    /* grid-template-rows: repeat(16, 1fr); */
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 20px 0;
}
